<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Ui\Component\MassAction">
        <arguments>
            <argument name="actions" xsi:type="array">
                <item name="magoarab_status" xsi:type="array">
                    <item name="component" xsi:type="string">MagoArab_OrderActions/js/grid/actions/magoarab_status</item>
                    <item name="type" xsi:type="string">magoarab_status</item>
                    <item name="label" xsi:type="string">Change Order Status (MagoArab)</item>
                </item>
            </argument>
        </arguments>
    </type>
</config>